body {
  font-family: "Montserrat", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.page-header {
}

.site-logo {
  color: #f07f2e;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.5px;
}
