body {
  font-family: "Montserrat", sans-serif;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.page-header {
}

.site-logo {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #f07f2e;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.5px;
}

.site-nav {
  display: flex;
  gap: 40px;
}
